<div class='container'>

  <form action="/admin/user-role/add" method="post">
    <div class="input-group input-group-outline  focused is-focused my-3">
      <label class="form-label">User Role</label>
      <input type="text" name="user_Role" class="form-control is-invalid" 
      value={{#if messages.form1}} 
              {{#each messages.form1 }} 
                {{this.user_Role}} 
              {{/each}} 
            {{/if}}>
      
        {{#if messages}}
          {{#each messages.user_Role_error }}
            {{#ifErrorCheck this "user_Role"}}
              <div class="invalid-feedback"> {{ this.msg }}</div>
            {{/ifErrorCheck}}
          {{/each}}
        {{/if}}
      
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>