 
<body>


	
	<section class="plot_map">
		<div class="container">
			<div class="ploat_top_table">
				<table class="table table-4 table-55 table-bordered mb-0">
					<tbody>
						<tr>
							<td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">235<br><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
              <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">248<br><span class="lothal">L</span></a></td>
						</tr>
					</tbody>
				</table>
				<table class="table table-4 table-44 table-bordered mb-0">
					<tbody>
						<tr>
              <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">162<br><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L3</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L4</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							<td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">180<br><span class="lothal">L</span></a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="plot-map">
				<div class="row map1">
					<div class="col-lg-3 col-md-6 col-12 align-self-end">
						<div class="park">
							<h5>25' WIDE ROAD</h5>
							<table class="table table-bordered">
								<tbody>
									<tr>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">196<span class="lothal">L</span></a></td>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">212<span class="lothal">L</span></a></td>
									</tr>
									<tr>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
									</tr>
									<tr>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
									</tr>
									<tr>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
									</tr>
									<tr>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
									</tr>
									<tr>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
									</tr>
									<tr>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
									</tr>
									<tr>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
									</tr>
									<tr>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
									</tr>
									<tr>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
									</tr>
									<tr>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
									</tr>
									<tr>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
									</tr>
									<tr>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
									</tr>
									<tr>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
									</tr>
									<tr>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
									</tr>
									<tr>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">181<span class="lothal">L</span></a></td>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">197<span class="lothal">L</span></a></td>
									</tr>
								</tbody>
							</table>
							<img src="/assets/img/main/ploat.png" class="img-fluid">
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12 align-self-end">
						<div class="park">
							<h5>25' WIDE ROAD</h5>
							<table class="table table-22 table-bordered">
								<tbody>
									<tr>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">223<span class="lothal">L</span></a></td>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">234<span class="lothal">L</span></a></td>
									</tr>
									<tr>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
									</tr>
									<tr>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
									</tr>
									<tr>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
									</tr>
									<tr>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
									</tr>
									<tr>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
									</tr>
									<tr>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
									</tr>
									<tr>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
									</tr>
									<tr>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
									</tr>
									<tr>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
									</tr>
									<tr>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">213<span class="lothal">L</span></a></td>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">224<span class="lothal">L</span></a></td>
									</tr>
								</tbody>
							</table>
							<img src="/assets/img/main/ploat.png" class="img-fluid">
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12 align-self-end">
						<div class="park wide-road">
							<h5 class="wide">40' WIDE ROAD</h5>
							<img src="/assets/img/main/ploat2.png" class="img-fluid">
						</div>
					</div>
				</div>
				<h5 class="mt-4 text-center">40' WIDE ROAD</h5>
				<div class="row mt-4">
					<div class="col-lg-3">
						<div class="table-2">
							<table class="table table-bordered">
								<tbody>
									<tr>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">161<br><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">155<br><span class="lothal">L</span></a></td>
									</tr>
									<tr>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">121<br><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">127<br><span class="lothal">L</span></a></td>
									</tr>
								</tbody>
							</table>	
						</div>
					</div>
					<div class="col-lg-3">
						<div class="table-2">
							<table class="table table-bordered">
								<tbody>
									<tr>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">154<span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							      <td class="bg number text-white" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">146<br><span class="lothal">L</span></a></td>
									</tr>
									<tr>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">128<span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">136<br><span class="lothal">L</span></a></td>
									</tr>
								</tbody>
							</table>	
						</div>
					</div>
					<div class="col-lg-3">
						<div class="table-3">
							<table class="table table-bordered mb-0">
								<tbody>
									<tr>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">145<span class="lothal">L</span></a></td>
									</tr>
									<tr>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">144<span class="lothal">L</span></a></td>
									</tr>
									<tr>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">143<span class="lothal">L</span></a></td>
									</tr>
								</tbody>
							</table>
							<table class="table table-4 table-bordered mb-0">
								<tbody>
									<tr>
							      <td class="bg number text-white" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">137<br><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							      <td class="bg number text-white" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">142<br><span class="lothal">L</span></a></td>
									</tr>
								</tbody>
							</table>	
						</div>
						<div class="img-table">
							<img src="/assets/img/main/ploat3.png" class="img-fluid">
						</div>
					</div>
				</div>
				<h5 class="text-center">25' WIDE ROAD</h5>
				<div class="row">
					<div class="col-lg-3">
						<div class="table-2">
							<table class="table table-bordered">
								<tbody>
									<tr>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">120<br><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">114<br><span class="lothal">L</span></a></td>
									</tr>
									<tr>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">73<br><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">79<br><span class="lothal">L</span></a></td>
									</tr>
								</tbody>
							</table>	
						</div>
					</div>
					<div class="col-lg-3">
						<div class="table-2">
							<table class="table table-bordered">
								<tbody>
									<tr>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">113<br><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							      <td class="bg number text-white" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">105<br><span class="lothal">L</span></a></td>
									</tr>
									<tr>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">80<br><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                    <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							      <td class="bg number text-white" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">88<br><span class="lothal">L</span></a></td>
									</tr>
								</tbody>
							</table>	
						</div>
					</div>
					<div class="col-lg-5">
						<div class="box-table-part">
							<div class="table-5">
								<div class="table-2">
									<table class="table table-bordered mb-0">
										<tbody>
											<tr>
                        <td class="bg number text-white" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">104<br><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
											</tr>
											<tr>
												<td class="bg number text-white"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">89<br><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
												<td class="bg number text-white"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">95<br><span class="lothal">L</span></a></td>
												<td class="bg number text-white"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">96<br><span class="lothal">L</span></a></td>
											</tr>
										</tbody>
									</table>	
								</div>
							</div>
							<div class="img-table2">
								<img src="/assets/img/main/ploat4.png" class="img-fluid">
							</div>
						</div>	
					</div>
				</div>
				<h5 class="text-center">25' WIDE ROAD</h5>
				<div class="row">
					<div class="col-lg-3">
						<div class="table-2">
							<table class="table table-bordered">
								<tbody>
									<tr>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">72<br><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">66<br><span class="lothal">L</span></a></td>
									</tr>
									<tr>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">37<br><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">43<br><span class="lothal">L</span></a></td>
									</tr>
								</tbody>
							</table>	
						</div>
					</div>
					<div class="col-lg-3">
						<div class="table-2">
							<table class="table table-bordered">
								<tbody>
									<tr>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">65<br><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">57<br><span class="lothal">L</span></a></td>
									</tr>
									<tr>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">44<br><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">52<br><span class="lothal">L</span></a></td>
									</tr>
								</tbody>
							</table>	
						</div>
					</div>
					<div class="col-lg-5">
						<div class="table-6 table-3">
							<table class="table table-4 table-bordered mb-0">
								<tbody>
									<tr>
												<td class="bg number text-white"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">56<br><span class="lothal">L</span></a></td>
												<td class="bg number text-white"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">55<br><span class="lothal">L</span></a></td>
												<td class="bg number text-white"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">54<br><span class="lothal">L</span></a></td>
												<td class="bg number text-white"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">53<br><span class="lothal">L</span></a></td>
									</tr>
								</tbody>
							</table>
							<div class="img-part-3">
								<img src="/assets/img/main/ploat5.png" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
				<h5 class=" mt-3 text-center">25' WIDE ROAD</h5>
				<div class="row">
					<div class="col-lg-3">
						<div class="table-2">
							<table class="table table-bordered">
								<tbody>
									<tr>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">36<br><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">30<br><span class="lothal">L</span></a></td>
									</tr>
									<tr>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">23<br><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">29<br><span class="lothal">L</span></a></td>
									</tr>
								</tbody>
							</table>	
						</div>
					</div>
					<div class="col-lg-3">
						<div class="table-2 table-7">
							<table class="table table-bordered">
								<tbody>
									<tr>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">08<br><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">01<br><span class="lothal">L</span></a></td>
									</tr>
									<tr>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">09<br><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
												<td class="bg number text-white"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">11<br><span class="lothal">L</span></a></td>
												<td class="bg number text-white"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">12<br><span class="lothal">L</span></a></td>
												<td class="bg number text-white"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">13<br><span class="lothal">L</span></a></td>
									</tr>
								</tbody>
							</table>
							<div class="img-part-4">
								<img src="/assets/img/main/ploat6.png" class="img-fluid">
							</div>	
						</div>
					</div>
				</div>	
				
				<div class="row">
					<div class="col-lg-5">
						<h5 class=" mt-3 text-center">25' WIDE ROAD</h5>
						<div class="table-7">
							<table class="table table-4 table-bordered mb-0">
								<tbody>
									<tr>
							      <td class="number" id="1" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">22<br><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
                        <td class="number" id="2" ><a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="lothal">L</span></a></td>
												<td class="bg number text-white"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">15<br><span class="lothal">L</span></a></td>
												<td class="bg number text-white"><a href="#" data-bs-toggle="modal" data-bs-target="#myModal">14<br><span class="lothal">L</span></a></td>
									</tr>
								</tbody>
							</table>
							<div class="img-part-5">
								<img src="/assets/img/main/ploat7.png" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		

 <div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
		<label>Plot Detail :-</label>
		<br>
		<label>Plot No :-</label>
		<br>
		<label>Plot Size :-</label>
		<br>
		<label>Payment Plan :-</label>
		<br>
		<br>
		<p>KYC DETAILS</p>
		<br>
		<form>
		{{!-- <div class="form-group">
			<label for="applicant_name">Applicant's Name</label>
			<input type="text" class="form-control" id="applicant_name" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
		</div>
		<br>
		<div class="form-group">
			<label for="co_applicant_name">Co-Applicant's Name</label>
			<input type="text" class="form-control" id="co_applicant_name" placeholder="Co-Applicant's Name">
		</div>
		<br>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="text" class="form-control" id="email" placeholder="Email">
		</div>
		<br>
		<div class="form-group">
			<label for="mobile">Mobile</label>
			<input type="text" class="form-control" id="mobile" placeholder="Mobile">
		</div>
		<br>

		<div class="form-group">
			<label for="address">Address</label>
			<input type="text" class="form-control" id="address" placeholder="Address">
		</div>
		<br>

		<label for="dob">Date Of Birth</label>
		<input id="dob" data-provide="datepicker">

		<br>

		<div class="form-check">
		<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
		<label class="form-check-label" for="flexRadioDefault1">
			Male
		</label>
		</div>
		
		<div class="form-check">
		<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
		<label class="form-check-label" for="flexRadioDefault2">
			Female
		</label>
		</div> --}}

		<div class="tab">Name:
		<p>
			<div class="form-group">
			<label for="applicant_name">Applicant's Name</label>
			<input type="text" class="form-control" id="applicant_name" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
			</div>
		</p>
		<p>
			<div class="form-group">
			<label for="co_applicant_name">Co-Applicant's Name</label>
			<input type="text" class="form-control" id="co_applicant_name" placeholder="Co-Applicant's Name">
			</div>
		</p>
		<p>
			<div class="form-group">
			<label for="email">Email</label>
			<input type="text" class="form-control" id="email" placeholder="Email">
			</div>
		</p>
		<p>
			<div class="form-group">
			<label for="mobile">Mobile</label>
			<input type="text" class="form-control" id="mobile" placeholder="Mobile">
			</div>
		</p>
		<p>
			<div class="form-group">
			<label for="address">Address</label>
			<input type="text" class="form-control" id="address" placeholder="Address">
			</div>
		</p>
		<p>
			<label for="dob">Date Of Birth</label>
			<input id="dob" data-provide="datepicker">
		</p>
		<p>
			<div class="form-check">
			<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
			<label class="form-check-label" for="flexRadioDefault1">
				Male
			</label>
			</div>

			<div class="form-check">
			<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
			<label class="form-check-label" for="flexRadioDefault2">
				Female
			</label>
			</div>
		</p>


		</div>

		<div class="tab">Contact Info:
		<p>
			<div>
			<label for="formFileLg" class="form-label">Receipt Documents</label>
			<input class="form-control form-control-lg" id="formFileLg" type="file">
			</div>
		</p>
		<p>
			<div>
			<label for="formFileLg" class="form-label">Allotment Letter</label>
			<input class="form-control form-control-lg" id="formFileLg" type="file">
			</div>
		</p>
		<p>
			<div>
			<label for="formFileLg" class="form-label">Welcome Letter</label>
			<input class="form-control form-control-lg" id="formFileLg" type="file">
			</div>
		</p>
		<p>
			<div>
			<label for="formFileLg" class="form-label">Pending Documents</label>
			<input class="form-control form-control-lg" id="formFileLg" type="file">
			</div>

		</p>
		</div>


		<div style="overflow:auto;">
		<div style="float:right;">
			<button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
			<button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
		</div>
		</div>

		<!-- Circles which indicates the steps of the form: -->
		<div style="text-align:center;margin-top:40px;">
		<span class="step"></span>
		<span class="step"></span>
		<span class="step"></span>
		<span class="step"></span>
		</div>

		</form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<script>
$(function(){
  $('#datepicker').datepicker();
});

var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form ...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  // ... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Submit";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  // ... and run a function that displays the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form... :
  if (currentTab >= x.length) {
    //...the form gets submitted:
    document.getElementById("regForm").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false:
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class to the current step:
  x[n].className += " active";
}

</script>