<footer class="pt-5 pb-3 footer-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4">
					<div class="footer-widget-title">
						<img src="/assets/img/main/footer-logo.png" class="img-fluid">
						<p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
					</div>
				</div>
				<div class="col-lg-3 col-md-4">
					<div class="footer-widget-title">
						<h3>Important Links</h3>
						<ul class="footer-widget-listing">
							<li><a href="#">About Us</a></li>
							<li><a href="#">How It Works</a></li>
							<li><a href="#">Blogs</a></li>
							<li><a href="#">FAQ's</a></li>
							<li><a href="#">Post Your Project</a></li>
							<li><a href="#">Hire People</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-4">
					<div class="footer-widget-title">
						<h3>Important Links</h3>
						<ul class="footer-widget-listing">
							<li><a href="#">Terms &amp; Conditions</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Refund Policy</a></li>
							<li><a href="#">User Policy</a></li>
							<li><a href="#">Certification Policy</a></li>
							<li><a href="#">Freelance Policy</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-4">
					<div class="footer-widget-title">
						<h3>Contact Us</h3>
						<p><span class="mr-2"><i class="fas fa-map-marker-alt"></i></span>12345 some street, Anyplase Country</p>
						<p><span class="mr-2"><i class="fas fa-envelope"></i></span>Info@domainname.com</p>
						<p><span class="mr-2"><i class="fas fa-phone-alt mr-2"></i></span>+91-1234567890</p>
						<div class="footer-widget-listing social-icons-footer mt-4">
							<a href="#"><i class="fab fa-facebook-f"></i></a>
							<a href="#"><i class="fab fa-instagram"></i></a>
							<a href="#"><i class="fab fa-linkedin-in"></i></a>
							<a href="#"><i class="fab fa-twitter"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<div class="footer-bottom">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="footer-bottom-col-left hh text-white">
						© 2022 Lothal valley Ltd.  All Rights Reserved
					</div>
				</div>
				<div class="col-md-6">
					<div class="footer-bottom-col-left text-right text-white">
						<p>
							Designed and developed by Web Teasor
						</p>
					</div>
				</div>
			</div>
		</div>	
	</div>