<!DOCTYPE html>
<html lang="en">
<head>
	<title>Lothal Valley</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/assets/css/main/all.min.css">
	<link rel="stylesheet" href="/assets/css/main/owl.carousel.min.css">
	<link rel="stylesheet" href="/assets/css/main/owl.theme.default.min.css">
	<link rel="stylesheet" href="/assets/css/main/aos.css">
	<link rel="stylesheet" href="/assets/css/main/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/main/style.css"/>
	<script src="/assets/js/main/jquery.min.js"></script>
</head>  
<body>
  {{> main_header }}
  {{{body}}}
  {{> main_footer}}
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
<script src="/assets/js/main/popper.min.js"></script>
	<script src="/assets/js/main/aos.js"></script>
	<script src="/assets/js/main/owl.carousel.js"></script>
	<script src="/assets/js/main/owl.carousel.min.js"></script>
	<script src="/assets/js/main/bootstrap.min.js"></script>
	<!-- Plugins -->
	<script src="/assets/js/main/custom.js"></script>	
	
</body>		
</html>