<div class='container'>
  <form action="/property/propertyType_add" method="post">
    <div class="input-group input-group-static mb-4">
      <label>Property Type</label>
      <input type="text" name="property_type" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
 </form>
</div>