<!-- START SECTION ABOUT -->
	<section class="headings">
            <div class="text-heading text-center">
                <div class="container">
                    <h1>Contact Us</h1>
                    <h2><a href="/">Home </a> &nbsp;/&nbsp; Contact Us</h2>
                </div>
            </div>
        </section>
	<section class="contact-us">
            <div class="container">
                <div class="property-location mb-5">
                    <h3>Our Location</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7385.563408165508!2d72.19511229999999!3d22.24835985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395f2451ff4100f9%3A0xaa2cd52f20110ead!2sDholera%2C%20Gujarat%20382455!5e0!3m2!1sen!2sin!4v1667893711889!5m2!1sen!2sin" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <h3 class="mb-4">Contact Us</h3>
                        <div class="contact_form">
						<h5 class="text-success text-center m-0"><strong>Contact Us</strong></h5>
						<p class="text-muted text-center mt-3">We Would love to hear from you</p>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-12">
								<div class="form-group">
									<input type="type" class="form-control" placeholder="First Name" id="">
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<div class="form-group">
									<input type="type" class="form-control" placeholder="Last Name" id="">
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<div class="form-group">
									<input type="email" class="form-control" placeholder="Email" id="">
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<div class="form-group">
									<input type="tel" class="form-control" placeholder="Phone No." id="">
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<div class="form-group">
									<input type="tel" class="form-control" placeholder="Subject" id="">
								</div>
							</div>
							<div class="col-12">
								<div class="form-group">
									<textarea class="form-control" rows="5" id="comment"></textarea>
								</div> 
							</div>
							<div class="col-12">
								<button type="" class="btn btn-success">Contact Us</button>
							</div>
						</div>
					</div>
                    </div>
                    <div class="col-lg-4 col-md-12 bgc">
                        <div class="call-info">
                            <h3>Contact Details</h3>
                            <p class="mb-5">Please find below contact details and contact us today!</p>
                            <ul>
                                <li>
                                    <div class="info">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <p class="in-p">95 South Park Ave, USA</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="info">
                                        <i class="fas fa-phone-alt"></i>
                                        <p class="in-p">+456 875 369 208</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="info">
                                       <i class="fas fa-envelope"></i>
                                        <p class="in-p ti">support@findhouses.com</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="info cll">
                                       <i class="far fa-clock"></i>
                                        <p class="in-p ti">8:00 a.m - 9:00 p.m</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>