
	<!-- banner -->
	<section id="banner" class="banner_page">			
		<div class="container-fluid px-0">
			<div id="demo" class="carousel slide" data-ride="carousel">
				<!-- The slideshow -->
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="/assets/img/main/boss/dholera1.jpg" alt="" class="w-100">
						<div class="carousel-caption">
							<div class="row">
								<div class="col-lg-8 col-md-10 col-12">
									<div class="row no-gutters">
										<div class="col-lg-9 col-md-10 col-12">
											<div class="property-search">
												<h4>Property Description  goes here</h4>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, se <br>Lorem ipsum dolor sit amet, consectetuer.</p>
											</div>
										</div>
										<div class="col-lg-3 col-md-2 col-12">
											<div class="box-right">
												<h4></h4>
												<p class="m-0 display-3"><i class="fas fa-rupee-sign"></i> 10-50 L</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div> 
					</div>
					<div class="carousel-item">
						<img src="/assets/img/main/boss/first1.jpg" alt="" class="w-100">
						<div class="carousel-caption">
							<div class="row">
								<div class="col-lg-8 col-md-10 col-12">
									<div class="row no-gutters">
										<div class="col-lg-9 col-md-10 col-12">
											<div class="property-search">
												<h4>Property Description  goes here</h4>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, se <br>Lorem ipsum dolor sit amet, consectetuer.</p>
											</div>
										</div>
										<div class="col-lg-3 col-md-2 col-12">
											<div class="box-right">
												<h4></h4>
												<p class="m-0 display-3"><i class="fas fa-rupee-sign"></i> 10-16 L</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<img src="/assets/img/main/boss/dholera3.jpg" alt="" class="w-100">
						<div class="carousel-caption">
							<div class="row">
								<div class="col-lg-8 col-md-10 col-12">
									<div class="row no-gutters">
										<div class="col-lg-9 col-md-10 col-12">
											<div class="property-search">
												<h4>Property Description  goes here</h4>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, se <br>Lorem ipsum dolor sit amet, consectetuer.</p>
											</div>
										</div>
										<div class="col-lg-3 col-md-2 col-12">
											<div class="box-right">
												<h4></h4>
												<p class="m-0 display-3"><i class="fas fa-rupee-sign"></i> 15-20 L</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<img src="/assets/img/main/boss/dholera4.jpg" alt="" class="w-100">
						<div class="carousel-caption">
							<div class="row">
								<div class="col-lg-8 col-md-10 col-12">
									<div class="row no-gutters">
										<div class="col-lg-9 col-md-10 col-12">
											<div class="property-search">
												<h4>Property Description  goes here</h4>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, se <br>Lorem ipsum dolor sit amet, consectetuer.</p>
											</div>
										</div>
										<div class="col-lg-3 col-md-2 col-12">
											<div class="box-right">
												<h4></h4>
												<p class="m-0 display-3"><i class="fas fa-rupee-sign"></i> 16-20 L</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Left and right controls -->
				<a class="carousel-control-prev" href="#demo" data-slide="prev">
					<span class="carousel-control-prev-icon"><i class="fas fa-chevron-left"></i></span>
				</a>
				<a class="carousel-control-next" href="#demo" data-slide="next">
					<span class="carousel-control-next-icon"><i class="fas fa-chevron-right"></i></span>
				</a>
			</div>
		</div>
		{{!-- <div class="banner-search">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="banner-form">
							<div class="row align-items-center">
								<div class="col-lg-3 col-12">
									<div class="form-group mb-0">
										<input type="type" class="form-control" placeholder="Property Address" id="">
									</div>
								</div>
								<div class="col-lg-2 col-12">
									<select name="cars" class="custom-select">
										<option selected>Type - Any</option>
										<option value="volvo">1</option>
										<option value="fiat">2</option>
										<option value="audi">3</option>
									</select>
								</div>
								<div class="col-lg-2 col-12">
									<select name="cars" class="custom-select">
										<option selected>Status</option>
										<option value="volvo">1</option>
										<option value="fiat">2</option>
										<option value="audi">3</option>
									</select>
								</div>
								<div class="col-lg-2 col-12">
									<select name="cars" class="custom-select">
										<option selected>Min. Price</option>
										<option value="volvo">1</option>
										<option value="fiat">2</option>
										<option value="audi">3</option>
									</select>
								</div>
								<div class="col-lg-2 col-12">
									<select name="cars" class="custom-select">
										<option selected>Max. Price</option>
										<option value="volvo">1</option>
										<option value="fiat">2</option>
										<option value="audi">3</option>
									</select>
								</div>
								<div class="col-lg-1 col-12">
									<button type="" class="btn btn-success "><i class="fas fa-search"></i></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	 --}}
	</section>
	<!-- Banner End -->
	
	<section class="welcom">
		<div class="container">
			<h4 class="text-center text-success">Welcome to Lothal Valley</h4>
			<p class="text-center">Lorem ipsum dolor sit amet, atqui sanctus delectus in duo. Purto fuisset sed et. </p>
			<div class="row mt-5">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="section-box">
						<img src="/assets/img/main/boss/content1.jpg" class="img-fluid">
						<h4 class="text-center text-white mt-5 mb-0">Dholera Residencial Ploats</h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="section-box">
						<img src="/assets/img/main/boss/content2.jpg" class="img-fluid">
						<h4 class="text-center text-white mt-5 mb-0">Dholera Commercial Complex</h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="section-box">
						<img src="/assets/img/main/boss/content3.jpg" class="img-fluid">
						<h4 class="text-center text-white mt-5 mb-0">Dholera Plots</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="recent">
		<div class="container">
			<h4 class="title">Recent Properties</h4>
			<div class="testimonial-slider owl-carousel">
				<div class="testimonial-items">
					<div class="testimonial-item-wrapper red">   
						<img src="/assets/img/main/boss/dholera1.jpg" class="img-fluid">
						<div class="btn-img">
							<a href="#" class="btn btn-danger text-white"> </a>
						</div>
						<div class="px-3">
							<h5 class="text-success">Property Description</h5>
							<h6 class="text-muted mb-0">Property Location</h6>
						</div>
						<div class="price px-3">
							<h4 class="text-success mb-3"><i class="fas fa-rupee-sign"></i> 25.00 Lakh</h4>
						</div>
						<div class="box-footer">
							<div class="d-flex align-items-center justify-content-center">
								<img src="/assets/img/main/img4.png" class="img-fluid border-0">
								<p class="ml-2 mb-0">300 Sq</p>
							</div>
							<p class="text-danger text-center mb-0">Booked</p>
						</div>
					</div>
				</div>
				<div class="testimonial-items">
					<div class="testimonial-item-wrapper green">   
						<img src="/assets/img/main/boss/dholera1.jpg" class="img-fluid">
						<div class="btn-img">
							<a href="#" class="btn btn-success text-white"> </a>
						</div>
						<div class="px-3">
							<h5 class="text-success">Property Description</h5>
							<h6 class="text-muted mb-0">Property Location</h6>
						</div>
						<div class="price px-3">
							<h4 class="text-success mb-3"><i class="fas fa-rupee-sign"></i> 25.00 Lakh</h4>
						</div>
						<div class="box-footer">
							<div class="d-flex align-items-center justify-content-center">
								<img src="/assets/img/main/img4.png" class="img-fluid border-0">
								<p class="ml-2 mb-0">300 Sq</p>
							</div>
							<p class="text-success text-center mb-0">Booked</p>
						</div>
					</div>
				</div>
				<div class="testimonial-items">
					<div class="testimonial-item-wrapper red">   
						<img src="/assets/img/main/boss/dholera1.jpg" class="img-fluid">
						<div class="btn-img">
							<a href="#" class="btn btn-danger text-white"> </a>
						</div>
						<div class="px-3">
							<h5 class="text-success">Property Description</h5>
							<h6 class="text-muted mb-0">Property Location</h6>
						</div>
						<div class="price px-3">
							<h4 class="text-success mb-3"><i class="fas fa-rupee-sign"></i> 25.00 Lakh</h4>
						</div>
						<div class="box-footer">
							<div class="d-flex align-items-center justify-content-center">
								<img src="/assets/img/main/img4.png" class="img-fluid border-0">
								<p class="ml-2 mb-0">300 Sq</p>
							</div>
							<p class="text-danger text-center mb-0">Booked</p>
						</div>
					</div>
				</div>
				<div class="testimonial-items">
					<div class="testimonial-item-wrapper green">   
						<img src="/assets/img/main/boss/dholera1.jpg" class="img-fluid">
						<div class="btn-img">
							<a href="#" class="btn btn-success text-white"> </a>
						</div>
						<div class="px-3">
							<h5 class="text-success">Property Description</h5>
							<h6 class="text-muted mb-0">Property Location</h6>
						</div>
						<div class="price px-3">
							<h4 class="text-success mb-3"><i class="fas fa-rupee-sign"></i> 25.00 Lakh</h4>
						</div>
						<div class="box-footer">
							<div class="d-flex align-items-center justify-content-center">
								<img src="/assets/img/main/img4.png" class="img-fluid border-0">
								<p class="ml-2 mb-0">300 Sq</p>
							</div>
							<p class="text-success text-center mb-0">Booked</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	
	<section class="call_us">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-10 col-12">
					<p class="mb-0 text-white"><strong>Didn’t find what are you looking for , Feel free to call us and we will help you to choose right property fot you.</strong></p>
				</div>
				<div class="col-lg-2 col-12">
					<a href="#" class="btn btn-call-us">Call Us </a>
				</div>
			</div>
		</div>
	</section>
	
	<section class="features">
		<div class="container">
			<h4 class="title">Features Properties</h4>
			<div class="testimonial-slider owl-carousel">
				<div class="testimonial-items">
					<div class="testimonial-item-wrapper red">   
						<img src="/assets/img/main/boss/dholera1.jpg" class="img-fluid">
						<div class="btn-img">
							<a href="#" class="btn btn-danger text-white"> </a>
						</div>
						<div class="px-3">
							<h5 class="text-success">Property Description</h5>
							<h6 class="text-muted mb-0">Property Location</h6>
						</div>
						<div class="price px-3">
							<h4 class="text-success mb-3"><i class="fas fa-rupee-sign"></i> 25.00 Lakh</h4>
						</div>
						<div class="box-footer">
							<div class="d-flex align-items-center justify-content-center">
								<img src="/assets/img/main/img4.png" class="img-fluid border-0">
								<p class="ml-2 mb-0">300 Sq</p>
							</div>
							<p class="text-danger text-center mb-0">Booked</p>
						</div>
					</div>
				</div>
				<div class="testimonial-items">
					<div class="testimonial-item-wrapper green">   
						<img src="/assets/img/main/boss/dholera1.jpg" class="img-fluid">
						<div class="btn-img">
							<a href="#" class="btn btn-success text-white"> </a>
						</div>
						<div class="px-3">
							<h5 class="text-success">Property Description</h5>
							<h6 class="text-muted mb-0">Property Location</h6>
						</div>
						<div class="price px-3">
							<h4 class="text-success mb-3"><i class="fas fa-rupee-sign"></i> 25.00 Lakh</h4>
						</div>
						<div class="box-footer">
							<div class="d-flex align-items-center justify-content-center">
								<img src="/assets/img/main/img4.png" class="img-fluid border-0">
								<p class="ml-2 mb-0">300 Sq</p>
							</div>
							<p class="text-success text-center mb-0">Booked</p>
						</div>
					</div>
				</div>
				<div class="testimonial-items">
					<div class="testimonial-item-wrapper red">   
						<img src="/assets/img/main/boss/dholera1.jpg" class="img-fluid">
						<div class="btn-img">
							<a href="#" class="btn btn-danger text-white"> </a>
						</div>
						<div class="px-3">
							<h5 class="text-success">Property Description</h5>
							<h6 class="text-muted mb-0">Property Location</h6>
						</div>
						<div class="price px-3">
							<h4 class="text-success mb-3"><i class="fas fa-rupee-sign"></i> 25.00 Lakh</h4>
						</div>
						<div class="box-footer">
							<div class="d-flex align-items-center justify-content-center">
								<img src="/assets/img/main/img4.png" class="img-fluid border-0">
								<p class="ml-2 mb-0">300 Sq</p>
							</div>
							<p class="text-danger text-center mb-0">Booked</p>
						</div>
					</div>
				</div>
				<div class="testimonial-items">
					<div class="testimonial-item-wrapper green">   
						<img src="/assets/img/main/boss/dholera1.jpg" class="img-fluid">
						<div class="btn-img">
							<a href="#" class="btn btn-success text-white"> </a>
						</div>
						<div class="px-3">
							<h5 class="text-success">Property Description</h5>
							<h6 class="text-muted mb-0">Property Location</h6>
						</div>
						<div class="price px-3">
							<h4 class="text-success mb-3"><i class="fas fa-rupee-sign"></i> 25.00 Lakh</h4>
						</div>
						<div class="box-footer">
							<div class="d-flex align-items-center justify-content-center">
								<img src="/assets/img/main/img4.png" class="img-fluid border-0">
								<p class="ml-2 mb-0">300 Sq</p>
							</div>
							<p class="text-success text-center mb-0">Booked</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	
	<section class="contact_us">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-12">
					<div class="client_say">
						<h5 class="text-success text-center m-0"><strong>What are our client say about us</strong></h5>
						<p class="text-muted text-center mt-3">Whether you’re buying, selling or ing, we can help you move forward.</p>
						<div id="demo2" class="carousel slide" data-ride="carousel">
							<!-- The slideshow -->
							<div class="carousel-inner">
								<div class="carousel-item active">
									<div class="card">
										<img src="/assets/img/main/img6.png" alt="Card image" class="img-fluid">
										<div class="card-body pb-0">
											<h5 class="card-title text-center mb-0 text-success"> Olive Erickson </h5>
											<p class="card-text text-center text-muted mb-2">User Location</p>
											<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
										</div>
									</div>
								</div>
								<div class="carousel-item">
									<div class="card">
										<img src="/assets/img/main/img6.png" alt="Card image" class="img-fluid">
										<div class="card-body pb-0">
											<h5 class="card-title text-success text-center mb-0"> Olive Erickson </h5>
											<p class="card-text text-center text-muted mb-2">User Location</p>
											<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
										</div>
									</div>
								</div>
								<div class="carousel-item">
									<div class="card">
										<img src="/assets/img/main/img6.png" alt="Card image" class="img-fluid">
										<div class="card-body pb-0">
											<h5 class="card-title text-success text-center mb-0"> Olive Erickson </h5>
											<p class="card-text text-center text-muted mb-2">User Location</p>
											<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
										</div>
									</div>
								</div>
							</div>
							  <!-- Left and right controls -->
							<a class="carousel-control-prev" href="#demo2" data-slide="prev">
								<span class="carousel-control-prev-icon"><i class="fas fa-chevron-left"></i></span>
							</a>
							<a class="carousel-control-next" href="#demo2" data-slide="next">
								<span class="carousel-control-next-icon"><i class="fas fa-chevron-right"></i></span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-12">
					<div class="contact_form">
						<h5 class="text-success text-center m-0"><strong>Contact Us</strong></h5>
						<p class="text-muted text-center mt-3">We Would love to hear from you</p>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-12">
								<div class="form-group">
									<input type="type" class="form-control" placeholder="First Name" id="">
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<div class="form-group">
									<input type="type" class="form-control" placeholder="Last Name" id="">
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<div class="form-group">
									<input type="email" class="form-control" placeholder="Email" id="">
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<div class="form-group">
									<input type="tel" class="form-control" placeholder="Phone No." id="">
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<div class="form-group">
									<input type="tel" class="form-control" placeholder="Subject" placeholder="Message" id="">
								</div>
							</div>
							<div class="col-12">
								<div class="form-group">
									<textarea class="form-control" rows="5" id="comment"></textarea>
								</div> 
							</div>
							<div class="col-12">
								<button type="" class="btn btn-success">Contact Us</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>