<div class="container-fluid py-4">
    <div class="row">
        <div class="col-8">
            <div class=" my-4">
                <h6>hallo</h6>
            </div>
            <div class=" my-4">
                <h6>hallo</h6>
            </div>
        </div>
        <div class="col-4">
            <div class="card my-4">
                <h6>hallo</h6>
                <p>kjsdfkjsd</p>
            </div>
            <div class="card my-4">
                <h6>hallo</h6>
            </div>
        </div>
    </div>
</div>